@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    max-width: 1346px;
    padding: 0 25px;
}

h1, h2, h3, h4, h5, h6, p, col{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a, img, button, input, select, textarea{
    transition: .3s ease all;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Header start */
.header{
    display: flex;
    flex-direction: column;
}
.header-top{
    background: rgb(21, 21, 23);
    padding: 10px 0;
}
.header-top .header__top-navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.header__top-navs .header-select{
    position: relative;
}
.header__top-navs .header-select-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__top-navs .header-select-btn span{
    font-family: "Noto Sans", sans-serif;
    color: rgb(100, 100, 104);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header__top-navs .header-select-value {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 151px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    border-radius: 5px;
    background: rgba(67, 67, 66, 0.3);
    transition: .3s ease all;
}
.header__top-navs .header-select-value.active{
    top: 25px;
    opacity: 1;
    pointer-events: all;
}
.header__top-navs .header-select-value span {
    color: rgb(226, 226, 225);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(67, 67, 66, 0.7);
}

.header-top .header__top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 611px;
    gap: 40px;
}
.header-top .header__top-link{
    display: flex;
    align-items: center;
    gap: 77px;
}
.header-top .header__top-links span,
.header-top .header__top-link a{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-top .header__top-links span b{
    font-weight: 700;
}

.header-bottom{
    padding: 10px 0;
    background: rgb(32, 32, 35);
}
.header-bottom .header-navs{
    padding: 0 22px 0 15.45px;
    display: flex;
    align-items: center;
    gap: 71.5px;
}
.header-bottom .logo img{
    width: 275px;
}
.header-bottom .header-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 25px;
    width: 657px;
    height: 79px;
    border-radius: 15px;
    margin-left: 13.5px;
    background: rgba(255, 255, 255, 0.05);
}
.header-bottom .header-nav-item{
    display: flex;
    align-items: center;
    gap: 56px;
}
.header-bottom .header-nav-link{
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-bottom .header-personal{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-personal .header-basket{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-basket .header-basket-price{
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-basket .header-basket-link{
    width: 32px;
    height: 32px;
    padding: 4px 6.67px;
    position: relative;
}
.header-basket .header-basket-num{
    position: absolute;
    top: -1px;
    right: -2.5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: rgb(235, 142, 34);
    padding: 0px 5px;
}
.header-bottom .header-person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-bottom .header-person span{
    display: none;
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
}
/* Header end */

/* Home start */
#home{
    background-image: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 123px 215px;
    height: 540px;
}
#home .home-info{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.home-info .home-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-info .home-title h1{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 98.96%;
    letter-spacing: -0.48px;
    padding-left: 10px;
}
.home-info .home-title p{
    max-width: 495px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.6px;
}
.home-info .home-texts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.home-info .home-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.home-info .home-text p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}
.home-info .home-text p span{
    color: rgb(167, 229, 109);
}
/* Home end */

/* Kitchen start */
#kitchen{
    padding: 82.87px 0px 70px;
    background-image: url(../images/kitchen-bg.png);
    margin-top: -1px;
}
#kitchen .kitchen-content{
    display: flex;
    flex-direction: column;
    gap: 62.88px;
}
.kitchen-content .kitchen-top{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 751px;
    gap: 20px;
}
.kitchen-content .kitchen-text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.73px;
} 
.kitchen-content .kitchen-text span{
    font-style: italic;
}

.kitchen-content .kitchen-items-wrap{
    display: flex;
    align-items: start;
    gap: 70px;
}
.kitchen-content .kitchen-items{
    position: relative;
    display: flex;
    align-items: start;
    width: 1076px;
    gap: 104.5px;
    padding: 17.5px 0 60px;
}
.kitchen-items .kitchen-line{
    position: absolute;
    bottom: 17.5px;
    left: 0;
    width: 100%;
}
.kitchen-content .kitchen-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.kitchen-content .kitchen-item img{
    width: 100px;
    height: 100px;
}
.kitchen-item .kitchen-item-text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: center;
    white-space: nowrap;
}
.kitchen-content .kitchen-item:nth-child(3) .kitchen-item-text{
    max-width: 136px;
}

.kitchen-items-wrap .kitchen-item-check{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    padding: 15px;
    border-radius: 80px 15px 80px 15px;
    background: rgba(235, 142, 34, 0.1);
}
.kitchen-item-check .kitchen-item-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.kitchen-item-check .kitchen-item-text{
    color: rgb(101, 157, 46);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: left;
}
/* Kitchen end */

/* Foods start */
#foods{
    padding: 41px 0px 100px;
    background-image: url(../images/foods-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1px;
}
#foods .foods-content{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.foods-content .foods-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -0.73px;
}
.foods-content .foods-cards{
    display: flex;
    justify-content: center;
    padding: 0px 34px;
}
.foods-cards .food-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;
    margin-bottom: 20px;
}
.foods-cards .food-card .food-card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 95px 25px 25px 25px;
    border-radius: 100px 15px 100px 15px;
    background: rgba(255, 255, 255, 0.05);
    margin-top: -110px;
}
.food-card .food-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.food-card .food-card-title{
    color: rgb(167, 229, 109);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.6px;
    text-align: center;
}
.food-card .food-card-links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.food-card .food-card-link{
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}
.food-card .food-card-link p{
    color: rgb(127, 129, 126);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-link span{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-price{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-price span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
}
/* Foods end */

/* Economic start */
#economic{
    background-image: url(../images/economic-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 66px 0 95px;
    margin-top: -1px;
    background-position: center;
}
#economic .economic-content{
    position: relative;
    display: flex;
    align-items: center;
    gap: 26.67px;
}
.economic-content .economic-item{
    width: auto !important;
    padding: 45px 43px;
    border-radius: 100px;
    background: rgba(167, 229, 109, 0.1);
}
.economic-content .economic-item p{
    color: rgb(101, 157, 46);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.economic-content .slick-track{
    display: flex;
    gap: 25px;
}
.economic-content .slick-track .slick-slide{
    width: 100% !important;
}
.economic-content .slick-arrow,
.economic-content .slick-dots{
    display: none !important;
}
/* Economic end */

/* About start */
#about{
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0px 248px 51px;
}
#about .about-content{
    display: flex;
    flex-direction: column;
}
.about-content .about-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}
.about-content .about-text{
    max-width: 380px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.6px;
    margin-bottom: 65px;
}
.about-content .about-point{
    padding: 10px 30px;
    border-radius: 100px 50px 50px 20px;
    backdrop-filter: blur(10px);
    background: rgba(235, 142, 34, 0.8);
    max-width: 284px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.6px;
    color: #FFF;
    margin-left: 202px;
}
.about-content .about-point span{
    color: rgb(167, 229, 109);
}
/* About end */

/* Company logo start */
#company-logo{
    padding: 81px 0px 61px;
    background-image: url(../images/company-logo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1px;
}
#company-logo .company-logo-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    margin-bottom: 55px;
}
.company-logo-top .company-logo-text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.73px;
    max-width: 680px;
}
.company-logo-top .company-logo-text span{
    font-style: italic;
    font-weight: 600;
}
.company-logo-links .company-logo-link{
    width: 200px;
    height: 111px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.05);
}
.company-logo-links .slick-track{
    display: flex;
    align-items: center;
    gap: 17px;
}
.company-logo-links .slick-prev {
    position: absolute;
    left: 252px;
    z-index: 2;
    width: 40px;
    height: 40px;
}
.company-logo-links .slick-next{
    position: absolute;
    right: 252px;
    z-index: 2;
    width: 40px;
    height: 40px;
}
.company-logo-links .slick-prev:before, 
.company-logo-links .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
}
/* Company logo end */

/* Mobile start */
#mobile{
    background: rgb(30, 30, 33);
    padding: 115px 0px 100px;
    margin-top: -1px;
}
#mobile .mobile-app{
    position: relative;
    padding: 56px 183px 80px;
    border-radius: 25px;
    background: radial-gradient(36.12% 148.00% at 20% 110.00000000000001%,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0) 100%),rgba(255, 255, 255, 0.02);
}
.mobile-app .mobile-phone{
    position: absolute;
    left: -80px;
    bottom: 0;
}
.mobile-app .mobile-phone-bg{
    position: absolute;
    right: 0;
    bottom: 0;
}

.mobile-app .mobile-app-content{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 59px;
    gap: 44px;
    z-index: 2;
}
.mobile-app .mobile-app-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.73px;
}
.mobile-app .mobile-app-info{
    display: flex;
    align-items: start;
    gap: 91px;
}
.mobile-app-info .mobile-downloads{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mobile-app-info .mobile-download{
    display: flex;
    align-items: center;
    gap: 5px;
}
.mobile-app-info .mobile-download:nth-child(1) img{
    margin-left: -8px;
}
.mobile-download .mobile-app-link a,
.mobile-download .mobile-app-link{
    color: rgb(167, 229, 109);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    white-space: nowrap;
    letter-spacing: -0.6px;
}
.mobile-download .mobile-app-link a{
    text-decoration: underline;
}
.mobile-app-info .mobile-points{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mobile-app-info .mobile-point{
    padding: 13.48px 28.83px;
    border-radius: 122.58px 61.29px 61.29px 24.52px;
    backdrop-filter: blur(12.26px);
    background: rgba(101, 157, 46, 0.6);
    color: #FFF;
    font-size: 29.42px;
    font-weight: 700;
    line-height: 26.97px;
    letter-spacing: -0.74px;
}
.mobile-app-info .mobile-point span{
    color: rgb(235, 142, 34);
    font-size: 22px;
}
.mobile-app-info .mobile-authorization{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 19.16px;
    letter-spacing: -0.52px;
    margin-left: auto;
    margin-right: -54.35px;
}


.personal{
    background-image: url(../images/personal-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 61px 110px 47px;
    margin-top: 20px;
}
.personal .personal-content{
    display: flex;
    align-items: center;
    gap: 83px;
    max-width: fit-content;
    margin-left: auto;
}
.personal-content .personal-title-wrap{
    display: flex;
    gap: 15px;
}
.personal-content .personal-title{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.personal-content .personal-title h1{
    color: rgb(21, 21, 23);
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.73px;
}
.personal-content .personal-title .personal-text{
    color: rgb(21, 21, 23);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.personal-content .personal-star{
    margin-top: 22px;
}
.personal-content .personal-link{
    width: 306px;
    height: 42px;
    border-radius: 40px;
    background: #659d2e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.personal-content .personal-link:hover{
    background: #6eaa31;
}
/* Mobile end */

/* Footer start */
#footer{
    padding: 40px 0px 38px;
    background: rgb(21, 21, 23);
}
#footer .footer-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-content .footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-top .footer-navs{
    display: flex;
    align-items: center;
    gap: 70px;
}
.footer-top .footer-nav{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.footer-top .footer-nav:hover{
    color: rgb(151, 151, 153);
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-bottom .footer-copyright{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.footer-bottom .footer-info{
    display: flex;
    align-items: center;
    gap: 47px;
}
.footer-bottom .footer-time{
    display: flex;
    align-items: center;
    gap: 5.52px;
    padding: 5px 10px;
    border-radius: 20px;
    background: rgba(101, 157, 46, 0.1);
}
.footer-bottom .footer-time p{
    color: rgb(169, 170, 167);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.footer-bottom .footer-time p span{
    font-weight: 700;
}
.footer-bottom .footer-socicial{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-socicial .footer-socicial-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 30px;
    background: rgba(101, 157, 46, 0.1);
}
.footer-socicial .footer-socicial-link:hover img{
    transform: scale(1.1);
}
.footer-bottom .footer-download{
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer-bottom .footer-download-link{
    border-radius: 10px;
}
.footer-bottom .footer-download-link:hover{
    background: rgb(30, 30, 32);
}
/* Footer end */


/* @Media start */
@media only screen and (max-width: 1366px){
    
}