@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
    -webkit-font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    max-width: 1346px;
    padding: 0 25px;
}

h1, h2, h3, h4, h5, h6, p, col{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a, img, button, input, select, textarea{
    transition: .3s ease all;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Header start */
.header{
    display: flex;
    flex-direction: column;
}
.header-top{
    background: rgb(21, 21, 23);
    padding: 10px 0;
}
.header-top .header__top-navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.header-select{
    position: relative;
}
.header-select-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-select-btn.active svg path,
.header-select-btn.active span,
.header-select-btn:hover svg path,
.header-select-btn:hover span{
    color: #659d2e;
    fill: #659d2e;
}
.header-select-btn.active + .header-select-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100vh;
}
.header-select-btn span{
    font-family: "Noto Sans", sans-serif;
    color: rgb(100, 100, 104);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
    transition: .3s ease all;
}
.header-select-btn svg path{
    transition: .3s ease all;
}
.header-select-value {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 5;
    width: 151px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    border-radius: 5px;
    background: rgba(67, 67, 66, 0.3);
    transition: .3s ease all;
}
.header-select-value.active{
    top: 25px;
    opacity: 1;
    pointer-events: all;
}
.header-select-value span {
    color: rgb(226, 226, 225);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(67, 67, 66, 0.7);
}

.header-top .header__top-links{
    display: flex;
    align-items: center;
    width: 611px;
    gap: 147px;
}
.header-top .header__top-link{
    display: flex;
    align-items: center;
    gap: 87px;
}
.header-top .header__top-links span,
.header-top .header__top-link a{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
    white-space: nowrap;
}
.header-top .header__top-link a:hover{
    color: rgb(129, 129, 131);
}
.header-top .header__top-links span b{
    font-weight: 700;
}

.header-bottom{
    padding: 10px 0;
    background: rgb(32, 32, 35);
}
.header-bottom .header-navs{
    padding: 0 22px 0 15.45px;
    display: flex;
    align-items: center;
    gap: 71.5px;
}
.header-bottom .logo img{
    width: 275px;
}
.header-bottom .logo2{
    display: none;
}
.header-bottom .header-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 25px;
    width: 657px;
    height: 79px;
    border-radius: 15px;
    margin-left: 13.5px;
    background: rgba(255, 255, 255, 0.05);
}
.header-bottom .header-nav-item{
    display: flex;
    align-items: center;
    gap: 54px;
}
.header-bottom .header-nav-item:nth-child(2){
    gap: 59px;
}
.header-bottom .header-nav-item:nth-child(2)  .header-nav-link:nth-child(3){
    gap: 6px;
    margin-left: -6px;
}
.header-bottom .header-nav-link{
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.5px;
}
.header-bottom .header-nav-link:hover{
    color: rgba(255, 255, 255, 0.721);
}
.header-bottom .header-personal-wrap{
    display: flex;
    align-items: center;
    gap: 35px;
}
.header-bottom .header-personal{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-personal .header-basket{
    position: relative;
    display: flex;
    align-items: center;
}
.header-basket .header-basket-price{
    font-family: "Noto Sans", sans-serif;
    -webkit-font-family: "Noto Sans", sans-serif;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.header-basket .header-basket-link{
    width: 32px;
    height: 32px;
    padding: 3px 8px;
    position: relative;
}
.header-basket .header-basket-link img:hover{
    opacity: .7;
}
.header-basket .header-basket-num{
    position: absolute;
    top: -1px;
    right: -2.5px;
    pointer-events: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: rgb(235, 142, 34);
    padding: 0px 5px;
}
.header-bottom .header-person{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-bottom .header-bars{
    display: none;
}

/* ---Header mob--- */
.header-mob{
    position: fixed;
    top: 0;
    right: -150%;
    z-index: 10;
    background-color: #161618;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 390px;
    overflow: auto;
    transition: .3s ease all;
}
.header-mob::-webkit-scrollbar{
    width: 0;
}
.header-mob.active{
    right: 0;
}
.header-mob.active+.header-mob-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background-color: #1616188d;
}
.header-mob .header-mob-top{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 80px;
    padding: 22px 24px;
    background-color: #161618;
}
.header-mob .header-mob-navs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 35px;
}
.header-mob-navs .header-mob-nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.6px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-mob .header-mob-personal{
    padding: 17px 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-mob-personal .header-mob-link{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-mob-personal .header-mob-person{
    width: 116px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 5px 15px 5px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(43, 43, 47);
    border-radius: 25px;
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-mob-personal .header-mob-person:hover{
    background-color: rgb(43, 43, 47);
}
.header-mob .header-mob-bottom{
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    background: rgb(32, 32, 35);
}
.header-mob-bottom .header-mob-time{
    color: rgb(100, 100, 104);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.header-mob-bottom .header-mob-time span{
    font-weight: 700;
}
/* Header end */

/* Home start */
#home{
    background-image: url(../images/home-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 123px 215px;
    height: 540px;
}
#home .home-info{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.home-info .home-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-info .home-title h1{
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 98.96%;
    letter-spacing: -0.48px;
    padding-left: 10px;
}
.home-info .home-title p{
    max-width: 495px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.5px;
    
}
.home-info .home-texts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.home-info .home-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.home-info .home-text p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}
.home-info .home-text p span{
    color: rgb(167, 229, 109);
}
/* Home end */

/* Kitchen start */
#kitchen{
    padding: 76px 0px 70px;
    margin-top: -1px;
    background-image: url(../images/kitchen-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#kitchen .kitchen-content{
    display: flex;
    flex-direction: column;
    gap: 53px;
}
.kitchen-content .kitchen-top{
    display: flex;
    align-items: start;
    margin: 0 auto;
    max-width: 720px;
    gap: 19px;
}
.kitchen-content .kitchen-text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.73px;
} 
.kitchen-content .kitchen-text span{
    font-style: italic;
}

.kitchen-content .kitchen-items-wrap{
    display: flex;
    align-items: start;
    gap: 76px;
}
.kitchen-content .kitchen-items{
    position: relative;
    display: flex;
    align-items: start;
    width: 1076px;
    gap: 115px;
    padding: 17.5px 0 60px 7px;
}
.kitchen-items .kitchen-line{
    position: absolute;
    bottom: 17.5px;
    left: 0;
    width: 100%;
}
.kitchen-content .kitchen-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.kitchen-item .kitchen-item-info{
    display: flex;
    gap: 7px;
}
.kitchen-item .kitchen-item-info span{
    display: none;
    color: rgb(100, 100, 104);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.6px;
}
.kitchen-content .kitchen-item img,
.kitchen-content .kitchen-item-body img{
    width: 100px;
    height: 100px;
}
.kitchen-item .kitchen-item-text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: center;
    white-space: nowrap;
}
.kitchen-content .kitchen-item:nth-child(3) .kitchen-item-text{
    max-width: 136px;
}

.kitchen-items-wrap .kitchen-item-check{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 153px;
    gap: 25px;
    padding: 15px;
    border-radius: 80px 15px 80px 15px;
    background: rgba(235, 142, 34, 0.1);
}
.kitchen-item-check .kitchen-item-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.kitchen-item-check .kitchen-item-text{
    color: rgb(101, 157, 46);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: left;
    white-space: nowrap;
}
/* Kitchen end */

/* Foods start */
#foods{
    padding: 41px 0px 100px;
    background-image: url(../images/foods-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1px;
}
#foods .foods-content{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.foods-content .foods-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -0.73px;
}
.foods-content .foods-cards{
    display: flex;
    justify-content: center;
    padding: 0px 34px;
}
.foods-cards .food-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;
    margin-bottom: 20px;
    transition: .5s;
}

.foods-cards .food-card .food-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 95px 25px 25px 25px;
    border-radius: 100px 15px 100px 15px;
    transition: .5s;
    background: linear-gradient(0deg, rgba(42,42,46,0.7371323529411764) 28%, rgba(255,255,255,0.07326680672268904) 100%, rgba(201,201,201,1) 100%);
    margin-top: -110px;
}

.foods-cards .food-card:hover .food-card-content {
    background: linear-gradient(180deg, rgba(42,42,46,0.7371323529411764) 28%, rgba(255,255,255,0.07326680672268904) 100%, rgba(201,201,201,1) 100%);
}

.food-card .food-img{
    position: relative;
    z-index: 3;
}
.food-card .food-mob-img{
    position: relative;
    left: 10px;
    z-index: 2;
    display: none;
}
.food-card .food-mob-img img{
    width: 200px;
}

.food-card .food-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.food-card .food-card-title{
    color: rgb(167, 229, 109);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.6px;
    text-align: center;
    font-style: italic
}
.food-card .food-card-links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.food-card .food-card-link{
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}
.food-card .food-card-link p{
    color: rgb(127, 129, 126);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-link span{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-price{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.food-card .food-card-price span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
}
/* Foods end */

/* Economic start */
#economic{
    background-image: url(../images/economic-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 66px 0 95px;
    margin-top: -1px;
    background-position: center;
}
#economic .economic-content{
    position: relative;
}
.economic-content .economic-item{
    padding: 45px 43px;
    border-radius: 100px;
    background: rgba(167, 229, 109, 0.1);
}
.economic-content .economic-item p{
    color: rgb(101, 157, 46);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.6px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.economic-content .slick-track{
    display: flex;
    gap: 25px;
}
.economic-content .slick-track .slick-slide{
    width: 100% !important;
}
.economic-content .slick-arrow,
.economic-content .slick-dots{
    display: none !important;
}
/* Economic end */

/* About start */
#about{
    background-image: url(../images/about-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 139px 0px 248px 51px;
    margin-top: -1px;
}
#about .about-content{
    display: flex;
    flex-direction: column;
    padding-left: 33px;
}
.about-content .about-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    font-style: italic;
    margin-bottom: 20px;
}
.about-content .about-text{
    max-width: 380px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 65px;
}
.about-content .about-point{
    padding: 10px 30px;
    border-radius: 100px 50px 50px 20px;
    background: rgb(235, 141, 34);
    max-width: 284px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.6px;
    color: #FFF;
    margin-left: 202px;
}
.about-content .about-point span{
    color: rgb(167, 229, 109);
}
/* About end */

/* Company logo start */
#company-logo{
    padding: 81px 0px 61px;
    background-image: url(../images/company-logo-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1px;
}
#company-logo .company-logo-top{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 29px;
    margin-bottom: 55px;
}
.company-logo-top .company-logo-text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.73px;
    max-width: 680px;
}
.company-logo-top .company-logo-text span{
    font-style: italic;
    font-weight: 600;
}
.company-logo-links .company-logo-link{
    width: 200px;
    height: 111px;
    display: flex !important;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.05);
}
.company-logo-links .slick-track{
    display: flex;
    align-items: center;
    gap: 17px;
}
.company-logo-links .slick-prev {
    position: absolute;
    left: 241px;
    z-index: 2;
    width: 40px;
    height: 40px;
}
.company-logo-links .slick-next{
    position: absolute;
    right: 238px;
    z-index: 2;
    width: 40px;
    height: 40px;
}
.company-logo-links .slick-prev, 
.company-logo-links .slick-next{
    background-image: url(../images/slider-arrow-next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.company-logo-links .slick-prev{
    background-image: url(../images/slider-arrow-prev.svg);
}
.company-logo-links .slick-prev:before, 
.company-logo-links .slick-next:before {
    content: '';
}
/* Company logo end */

/* Mobile start */
#mobile{
    background: rgb(30, 30, 33);
    padding: 115px 0px 100px;
    margin-top: -1px;
}
#mobile .mobile-app{
    position: relative;
    padding: 56px 183px 80px;
    border-radius: 25px;
    background: radial-gradient(36.12% 148.00% at 20% 110.00000000000001%,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0) 100%),rgba(255, 255, 255, 0.02);
}
.mobile-app .mobile-phone{
    position: absolute;
    left: -80px;
    bottom: 0;
    width: 658px;
}
.mobile-app .mobile-phone2{
    display: none;
}
.mobile-app .mobile-phone-bg,
.mobile-app .mobile-phone-bg2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.mobile-app .mobile-phone-bg2{
    display: none;
}
.mobile-app .mobile-app-content{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 59px;
    gap: 44px;
    z-index: 2;
}
.mobile-app .mobile-app-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.73px;
}
.mobile-app .mobile-app-info{
    display: flex;
    align-items: start;
    gap: 91px;
}
.mobile-app-info .mobile-downloads{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mobile-app-info .mobile-download{
    display: flex;
    align-items: center;
    gap: 5px;
}
.mobile-app-info .mobile-download:nth-child(1) img{
    margin-left: -8px;
}
.mobile-download .mobile-app-link a,
.mobile-download .mobile-app-link{
    color: rgb(167, 229, 109);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    white-space: nowrap;
    letter-spacing: -0.6px;
}
.mobile-download .mobile-app-link a{
    text-decoration: underline;
}
.mobile-app-info .mobile-points{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mobile-app-info .mobile-point{
    padding: 13.48px 28.83px;
    border-radius: 122.58px 61.29px 61.29px 24.52px;
    backdrop-filter: blur(12.26px);
    background: rgba(101, 157, 46, 0.6);
    color: #FFF;
    font-size: 29.42px;
    font-weight: 700;
    line-height: 26.97px;
    letter-spacing: -0.74px;
}
.mobile-app-info .mobile-point span{
    color: rgb(235, 142, 34);
    font-size: 22px;
}
.mobile-app-info .mobile-authorization{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 19.16px;
    letter-spacing: -0.52px;
    margin-left: auto;
    margin-right: -54.35px;
}


.personal{
    background-image: url(../images/personal-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 61px 110px 47px;
    margin-top: 20px;
}
.personal .personal-content{
    display: flex;
    align-items: center;
    gap: 83px;
    max-width: fit-content;
    margin-left: auto;
}
.personal-content .personal-title-wrap{
    display: flex;
    gap: 15px;
}
.personal-content .personal-title{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: auto;
    max-width: 330px;
}
.personal-content .personal-title h1{
    color: rgb(21, 21, 23);
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.73px;
}
.personal-content .personal-title .personal-text{
    color: rgb(21, 21, 23);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.personal-content .personal-star{
    margin-top: 22px;
}
.personal-content .personal-link{
    width: 306px;
    height: 42px;
    margin-top: -18px;
    border-radius: 40px;
    background: #659d2e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.personal-content .personal-link:hover{
    background: #6eaa31;
}
/* Mobile end */

/* Footer start */
#footer{
    padding: 40px 0px 38px;
    background: rgb(21, 21, 23);
}
#footer .footer-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-content .footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-top .footer-navs{
    display: flex;
    align-items: center;
    gap: 70px;
}
.footer-top .footer-nav{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
    white-space: nowrap;
}
.footer-top .footer-nav:hover{
    color: rgb(151, 151, 153);
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-bottom .footer-copyright{
    color: rgb(100, 100, 104);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.footer-bottom .footer-info{
    display: flex;
    align-items: center;
    gap: 47px;
}
.footer-bottom .footer-time{
    display: flex;
    align-items: center;
    gap: 5.52px;
    padding: 5px 10px;
    border-radius: 20px;
    background: rgba(101, 157, 46, 0.1);
}
.footer-bottom .footer-time p{
    color: rgb(169, 170, 167);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
}
.footer-bottom .footer-time p span{
    font-weight: 700;
}
.footer-bottom .footer-socicial{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-socicial .footer-socicial-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 30px;
    background: rgba(101, 157, 46, 0.1);
}
.footer-socicial .footer-socicial-link:hover img{
    transform: scale(1.1);
}
.footer-bottom .footer-download{
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer-bottom .footer-download-link{
    border-radius: 10px;
}
.footer-bottom .footer-download-link:hover{
    background: rgb(30, 30, 32);
}


#coppyright{
    padding: 15px 0px 16px;
    background: rgba(20, 17, 17, 1);
}
#coppyright .coppyright-text,
#coppyright .coppyright-link{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: rgba(91, 91, 91, 1);
    font-size: 12px;
    line-height: 16.34px;
    font-weight: 700;
}
/* Footer end */


/* @Media start */
@media only screen and (max-width: 1366px){
    .container{
        max-width: 1166px;
    }

    .header-bottom .header-navs{
        gap: 62px;
    }
    .header-bottom .header-nav{
        margin-left: 15px;
    }
    .header-bottom .header-personal{
        gap: 15px;
    }
    .header-bottom .header-nav-item {
        gap: 62px;
    }

    #home{
        background-position: 50% 0;
        padding: 100px 0px 73px 26px;
    }
    

    #kitchen {
        padding: 25px 0px 82px;
    }
    #kitchen .kitchen-content{
        gap: 45px;
    }
    .kitchen-content .kitchen-items{
        width: 895px;
        gap: 69px;
    }
    .kitchen-content .kitchen-items-wrap {
        gap: 79px;
    }

    .foods-content .foods-cards{
        padding: 0;
    }

    #economic .container{
        max-width: 100%;
        padding: 0;
    }

    #about {
        background-position: 50%;
        padding-left: 0;
    }
    .about-content .about-point{
        margin-left: 169px;
    }

    .company-logo-links .slick-next{
        right: 75px;
    }
    .company-logo-links .slick-prev{
        left: 75px;
    }
    .company-logo-links .company-logo-link img{
        width: 100%;
    }

    .mobile-app .mobile-app-content,
    .mobile-app-info .mobile-authorization{
        margin-right: 0;
    }
    #mobile .mobile-app {
        padding: 56px 73px 80px;
    }
    .mobile-app-info .mobile-point{
        margin-right: 23px;
    }
    .personal {
        border-radius: 35px;
        background-position: 35%;
    }
    .personal .personal-content{
        gap: 8px;
    }
    
    .footer-top .footer-navs{
        gap: 57px;
    }
}


@media only screen and (max-width: 1150px) {
    .header-bottom .header-navs{
        gap: 30px;
        justify-content: space-between;
        padding: 0;
    }
    .header-bottom .header-nav{
        width: auto;
        margin-left: 0;
    }
    .header-bottom .header-nav-item{
        gap: 40px;
    }

    .kitchen-content .kitchen-items{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }

    #about {
        background-position: 65%;
    }

    #mobile .mobile-app {
        padding: 56px 40px 80px;
    }

    .personal {
        padding: 61px 50px 47px;
    }

    .footer-top .footer-navs {
        gap: 30px;
    }
    .footer-bottom .footer-info {
        gap: 30px;
    }
}


@media only screen and (max-width: 991px){
    .header-top,
    .header-bottom .header-nav,
    .header-bottom .header-person{
        display: none;
    }
    .header-bottom .header-bars{
        display: flex;
    }
    .header-bottom .logo img {
        width: 220px;
    }
    .header-bottom .header-nav-item {
        gap: 30px;
    }
    .header-bottom .header-nav{
        gap: 10px;
        height: auto;
    }

    .kitchen-items .kitchen-line{
        display: none;
    }
    .kitchen-content .kitchen-items{
        padding: 0;
    }

    .mobile-app .mobile-phone {
        left: -115px;
        z-index: 2;
    }
    .mobile-app .mobile-app-info {
        gap: 26px;
        flex-direction: column;
    }
    .mobile-app .mobile-app-content{
        gap: 21px;
    }
    .mobile-app-info .mobile-points{
        flex-direction: column-reverse;
    }
    .mobile-app-info .mobile-authorization{
        margin-left: 0;
    }
    .personal{
        background-position: 14%;
    }
    .personal .personal-content{
        flex-direction: column;
        gap: 30px;
    }
    .personal-content .personal-link{
        margin-right: auto;
    }
    .personal-content .personal-star{
        margin-top: 52px;
    }

    .footer-content .footer-top{
        flex-direction: column;
    }
    .footer-top .footer-navs{
        flex-wrap: wrap;
    }
    .footer-bottom{
        flex-direction: column-reverse;
    }
}


@media only screen and (max-width: 776px){
    .header-bottom{
        height: 80px;
        display: flex;
        align-items: center;
    }
    .company-logo-links .slick-next{
        right: 30px;
    }
    .company-logo-links .slick-prev{
        left: 30px;
    }
    #company-logo .company-logo-top{
        padding: 0px 10px;
    }

    .kitchen-content .kitchen-items{
        grid-template-columns: auto auto;
    }
    .kitchen-content .kitchen-items-wrap{
        flex-direction: column;
        gap: 0;
    }
    .kitchen-items-wrap .kitchen-item-check{
        margin: -148px 10px 0 auto;
    }
    .kitchen-content .kitchen-items {
        gap: 32px 10px;
    }
    .kitchen-item .kitchen-item-text{
        text-align: start;
    }
    .kitchen-item .kitchen-item-info span{
        display: block;
    }
    .kitchen-content .kitchen-items{
        justify-content: space-between;
    }

    .economic-content .slick-track{
        gap: 20px;
    }
    .economic-content .economic-item {
        padding: 40px 45px;
    }
    .economic-content .economic-item p {
        font-size: 18px;
        line-height: 25px;
    }

    .food-card .food-card-links{
        flex-direction: column;
        gap: 5px;
    }
    .foods-cards .food-card .food-card-content{
        gap: 10px;
        padding: 95px 13px 25px 13px;
    }
    .foods-cards .food-card{
        width: 90%;
    }
    .food-card .food-img img{
        width: 200px;
    }
    #foods {
        padding: 41px 0px 62px;
    }

    #company-logo {
        padding: 48px 0px 83px;
    }
    #mobile {
        padding: 25px 0px 70px;
    }
    #mobile .mobile-app{
        overflow: hidden;
    }

    #footer{
        padding: 40px 0px 40px;
    }
    #footer .footer-content{
        gap: 46px;
    }
    .footer-bottom{
        align-items: start;
    }
    .footer-bottom .footer-info{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        gap: 20px;
    }
    .footer-top .footer-navs{
        gap: 20px;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .footer-bottom .footer-download{
        flex-wrap: wrap;
        gap: 15px;
    }
}


@media only screen and (max-width: 576px){
    .header-bottom .logo2,
    .mobile-app .mobile-phone-bg2{
        display: flex;
    }
    .header-bottom .logo,
    .mobile-app .mobile-phone-bg,
    .personal-content .personal-star{
        display: none;
    }
    .company-logo-links .slick-next,
    .company-logo-links .slick-prev{
        display: none !important;
    }

    #home{
        background-image: url(../images/home-bg-mob.webp);
        padding: 187px 0px 70px 0px;
        height: auto;
    }
    .home-info .home-title,
    #home .home-info{
        gap: 25px;
    }
    .home-info .home-title h1{
        font-size: 48px;
        line-height: 65px;
        letter-spacing: -0.73px;
        padding-left: 13px;
    }
    .home-info .home-title p{
        font-size: 16px;
        line-height: 22px;
    }
    .home-info .home-texts{
        gap: 15px;
    }
    .home-info .home-text p{
        font-size: 18px;
        line-height: 25px;
    }
    .home-info .home-text{
        align-items: start;
    }

    #kitchen {
        padding: 25px 0px 50px;
    }
    .kitchen-content .kitchen-text{
        font-size: 16px;
        line-height: 21px;
    }
    #kitchen .kitchen-content{
        gap: 42px;
    }
    .kitchen-item .kitchen-item-text{
        font-size: 15px;
        line-height: 20px;
    }
    .kitchen-content .kitchen-top{
        gap: 11px;
    }
    .kitchen-content .kitchen-top img{
        width: 40px;
    }
    .kitchen-content .kitchen-item img{
        width: 80px;
        height: 80px;
    }
    .kitchen-content .kitchen-item {
        padding-left: 12px;
    }
    .kitchen-content .kitchen-item:nth-child(1) .kitchen-item-info,
    .kitchen-content .kitchen-item:nth-child(3) .kitchen-item-info,
    .kitchen-content .kitchen-item:nth-child(4) .kitchen-item-info {
       margin-right: auto;
    }
    .kitchen-content .kitchen-item:nth-child(2),
    .kitchen-content .kitchen-item:nth-child(4){
        padding-left: 0;
    }
    .kitchen-content .kitchen-item:nth-child(4){
        margin-left: -13px;
    }
    .kitchen-items-wrap .kitchen-item-check {
        width: 135px;
        margin: -128px 15px 0 auto;
        gap: 15px;
    }
    .kitchen-item-check .kitchen-item-body img{
        width: 80px;
        height: 80px;
        margin-left: 13px;
    }
    .kitchen-item-check .kitchen-item-text {
        font-size: 15px;
        line-height: 20px;
    }
     
    #foods .foods-content{
        gap: 35px;
    }
    .foods-content .foods-title{
        font-size: 24px;
        line-height: 33px;
    }
    .food-card .food-img{
        display: none;
    }
    .food-card .food-mob-img{
        display: block;
    }
    .foods-cards .food-card .food-card-content{
        border-radius: 60px 15px 60px 15px;
        margin-top: -100px;
    }
    .food-card .food-card-title{
        font-size: 16px;
        line-height: 22px;
    }
    .food-card .food-card-link p,
    .food-card .food-card-link span {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
    .food-card .food-card-link:nth-child(2) p{
        display: none;
    }
    .food-card .food-card-price span{
        font-size: 16px;
        line-height: 22px;
    }
    
    .foods-cards .food-card{
        margin-bottom: 8px;
    }
    .food-card .food-card-link img{
        width: 16px;
        height: 16px;
    }
    

    #economic {
        background-image: url(../images/economic-bg-mob.webp);
        padding: 66px 0 94px;
        background-size: 100% 100%;
    }

    #about {
        background-image: url(../images/about-bg-mob.webp);
        padding: 63px 0px;
        height: 666px;
    }
    #about .about-content{
        padding-left: 0;
    }
    .about-content .about-title{
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 10px;
        margin-left: 4px;
    }
    .about-content .about-text{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 26px;
    }
    .about-content .about-point {
        margin-left: 0;
        padding: 10px 30px;
        font-size: 20px;
        line-height: 27px;
        max-width: fit-content;
    }

    #company-logo .company-logo-top{
        gap: 15px;
        padding-left: 0;
    }
    .company-logo-top .company-logo-text{
        font-size: 16px;
        line-height: 22px;
        max-width: 278px;
    }
    #company-logo .company-logo-top img{
        width: 34px;
        margin-top: 5px;
    }
    .company-logo-links .company-logo-link{
        height: 70px;
        border-radius: 15.77px;
    }

    #mobile .mobile-app{
        height: 519px;
        padding: 30px 24px 30px 25px;
    }
    .mobile-app .mobile-app-content{
        margin-left: 0;
        max-width: initial;
    }
    .mobile-app .mobile-phone2{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .mobile-app .mobile-phone{
        display: none;
    }
    .mobile-app .mobile-app-title{
        font-size: 24px;
        line-height: 33px;
    }
    .mobile-app-info .mobile-downloads{
        gap: 7px;
    }
    .mobile-app-info .mobile-download .mobile-app-link,
    .mobile-download .mobile-app-link a{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    .mobile-app-info .mobile-download img{
        width: 24px;
        height: 24px;
    }
    .mobile-app-info .mobile-download:nth-child(1) img{
        width: 29px;
        margin-left: -3px;
    }
    .mobile-app-info .mobile-points{
        margin-left: auto;
        gap: 10px;
        margin-right: -54px;
    }
    .mobile-app-info .mobile-authorization {
        margin-left: -22px;
        font-size: 16px;
        line-height: 22px;
    }
    .mobile-app-info .mobile-point{
        font-size: 20px;
        line-height: 21px;
        height: 50px;
        padding: 13px 20px;
    }
    .mobile-app-info .mobile-point span{
        font-size: 16px;
        line-height: 16px;
        color: #FFF;
    }

    .personal{
        background-image: url(../images/personal-bg2.webp);
        padding: 32px 16px 52px 18px;
        margin-top: 35px;
        height: 336px;
    }
    .personal-content .personal-title {
        padding: 0px 8px 0px 9px;
    }
    .personal-content .personal-title h1{
        font-size: 24px;
        line-height: 33px;
    }
    .personal-content .personal-title .personal-text{
        font-size: 16px;
        line-height: 22px;
    }
    .personal .personal-content {
        gap: 30px;
        margin-left: 0;
        align-items: start;
        max-width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .personal-content .personal-link{
        width: 100%;
    }

    .footer-content .footer-top{
        gap: 40px;
    }
}


@media only screen and (max-width: 400px){
    .header-mob{
        width: 100%;
    }
    .food-card .food-mob-img img {
        width: 180px;
    }
}